venv/
env/
.env/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.log
*.log.txt
.vscode/
.DS_Store
.pytest_cache/
*.egg-info/
dist/
build/

settings_local.py
*.db-shm
*.db-wal

sphinx/_build/
sphinx/build/
sphinx/api/
sphinx/_static/images/generated/

*.doctree
*.pickle
*.mo
.doctrees/

**/__pycache__/
.coverage
htmlcov/